venv
/venv/lib
/venv/lib/python3.6
/venv/lib/python3.6/site-packages
venv/Lib/site-packages/PySide2
/venv/lib/python3.6/site-packages/requests/api.py
/venv/lib/python3.6/site-packages/requests/auth.py
/venv/lib/python3.6/site-packages/requests/certs.py
/venv/lib/python3.6/site-packages/requests/compat.py
/venv/lib/python3.6/site-packages/requests/cookies.py
/venv/lib/python3.6/site-packages/requests/exceptions.py
/venv/lib/python3.6/site-packages/requests/help.py
/venv/lib/python3.6/site-packages/requests/hooks.py
/venv/lib/python3.6/site-packages/requests/models.py
/venv/lib/python3.6/site-packages/requests/packages
/venv/lib/python3.6/site-packages/requests/packages/__init__.py
/venv/lib/python3.6/site-packages/requests/packages/__pycache__
/venv/lib/python3.6/site-packages/requests/packages/__pycache__/__init__.cpython-36.pyc
/venv/Scripts
/venv/Scripts/activate
/venv/Scripts/activate.bat
/venv/Scripts/activate_this.py
/venv/Scripts/activate_this.py.dist-info
/venv/Scripts/activate_this.py.dist-info/INSTALLER
/venv/Scripts/activate_this.py.dist-info/METADATA
/venv/Scripts/activate_this.py.dist-info/RECORD
/venv/Scripts/activate_this.py.dist-info/WHEEL
/venv/Scripts/activate_this.py.dist-info/entry_points.txt
/venv/Scripts/activate_this.py.dist-info/top_level.txt
/venv/Scripts/activate_this.pyc
/venv/Scripts/easy_install
/venv/Scripts/easy_install-3.6
/venv/Scripts/pip
/venv/Scripts/pip3
/venv/Scripts/pip3.6
/venv/Scripts/python
/venv/Scripts/python3
/venv/Scripts/python3.6
/venv/Scripts/python3.6.exe
/venv/Scripts/python3.6m.exe
/venv/Scripts/python3.exe
/venv/Scripts/pythonw
/venv/Scripts/pythonw3
/venv/Scripts/pythonw3.6
/venv/Scripts/pythonw3.6.exe
/venv/Scripts/pythonw3.6m.exe
/venv/Scripts/pythonw3.exe
/venv/Scripts/requests
/venv/Scripts/requests.exe
/venv/Scripts/requests.pyc
/venv/Scripts/requests-script.py
/venv/Scripts/requests-script.pyc
/venv/Scripts/requests-script.pyw
/venv/Scripts/requests-script.pyw.exe
/venv/Scripts/requests-script.pyw.pyc
/venv/Scripts/requests-script.pyw-script.py
/venv/Scripts/requests-script.pyw-script.pyc
/venv/Scripts/requests-script.pyw.exe.manifest
